:root {
  --text: #010d28;
  --background: #ecf1fe;
  --primary: #053294;
  --secondary: #7b99e0;
  --accent: #6f07df;
  --nav-background: #010d25;
  --border: #1f283b;
  --warning: #7a191e;
  --success: #16932b;

  --border-radius: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d9e4fe;
    --background: #010714;
    --primary: #6b98fa;
    --secondary: #1f3e85;
    --accent: #8a20f8;
    --nav-background: #010d25;
    --component-background: color-mix(in srgb, var(--nav-background) 60%, transparent);
    --border: #1f283b;
    --warning: #7a191e;
    --success: #16932b;
  }
}

::selection {
  background: color-mix(in srgb, var(--primary) 50%, transparent);
  color: var(--background);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-color: var(--primary) var(--background);
  scrollbar-gutter: stable;
}

html.no-scroll, body.no-scroll {
  overflow: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  position: relative;

  top: 9rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
