/* :root {
  --text: #010d28;
  --background: #ecf1fe;
  --primary: #053294;
  --secondary: #7b99e0;
  --accent: #6f07df;
  --nav-background: #010d25;
  --border: #1f283b;
  --warning: #7a191e;
  --success: #16932b;

  --border-radius: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d9e4fe;
    --background: #010714;
    --primary: #6b98fa;
    --secondary: #1f3e85;
    --accent: #f820c6;
    --nav-background: #010d25;

    --component-background: color-mix(
      in srgb,
      var(--nav-background) 60%,
      transparent
    );
    --border: #1f283b;
    --box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);

    --warning: #7a191e;
    --success: #16932b;
  }
} */

:root {
    --text: #d9e4fe;
    --background: #010714;
    --primary: #6b98fa;
    --secondary: #1f3e85;
    --accent: #f820c6;
    --nav-background: #010d25;

    --component-background: color-mix(
      in srgb,
      var(--nav-background) 60%,
      transparent
    );
    --border: #1f283b;
    --box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);

    --warning: #7a191e;
    --success: #16932b;

    --border-radius: 0.8rem;
  }

::selection {
  background: color-mix(in srgb, var(--primary) 50%, transparent);
  color: var(--background);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-color: var(--primary) var(--background);
  /* scrollbar-gutter: stable; */
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;

  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  /* top: 9rem; */
  padding-top: 9rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* LOADER */

.loader-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* above everything */
  background: var(--background); /* optional dim */
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: var(--primary) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  position: fixed; /* instead of absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* on top of everything */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.required-star {
  color: var(--accent);
}

.main {
  display: grid;
  align-content: start;
}

/* @media (min-width: 1000px) {
  body {
    min-height: 100dvh;
  }
} */