.footer {
    height: 5rem;
    margin-top: 3rem;

    /* background-color: var(--component-background); */
    column-gap: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.footer-text {
    color: color-mix(in srgb, var(--text) 80%, transparent);
    font-size: 0.9rem;
    font-style: italic;
}

@media (max-width:468px) {
    .footer {
        flex-direction: column;
        margin-bottom: 2rem;
    }
}