.feed-container {
    width: 50%;
    height: fit-content;

    max-height: 35rem;
    overflow-y: scroll;
    scrollbar-color: var(--primary) var(--component-background);

    position: relative;
    justify-content: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    padding: 2rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-clip: padding-box;
    box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);

    background-color: var(--component-background);
}



 /* width: 60%;

    position: relative;
    justify-self: center;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1rem;
    border-radius: 10px;

    background-color: var(--component-background);
    border: 1px solid var(--border);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-clip: padding-box;
    box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent); */