.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

  animation: fadeBackground 0.1s ease-in-out forwards;
}

.modal {
  background: color-mix(in srgb, var(--nav-background) 100%, transparent);
  color: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  max-width: 400px;
  width: 100%;
  position: relative;

  max-height: 80vh;        /* IMPORTANT */
  overflow-y: auto; 

  border: 1px solid var(--border);

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-clip: padding-box;
  box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);
}

.closeButton {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;

  transition: color 0.15s ease-in-out;
}

.closeButton:hover {
    color: var(--accent);
}

@keyframes fadeBackground {
  from {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
  to {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
  }
}
