.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

  animation: fadeBackground 0.1s ease-in-out forwards;
}

.modal {
  background: color-mix(in srgb, var(--nav-background) 100%, transparent);
  color: var(--text);
  padding: 1.5rem;
  border-radius: 0.75rem;
  max-width: 80%;
  width: fit-content;
  position: relative;

  max-height: 70vh;        /* IMPORTANT */
  overflow-y: auto; 

  border: 1px solid var(--border);

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-clip: padding-box;
  box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);
}

.h2 {
    color: var(--primary);
}

.closeButton {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;

  z-index: 100;

  transition: color 0.15s ease-in-out;
}

.closeButton:hover {
    color: var(--accent);
}

@keyframes fadeBackground {
  from {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
  to {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
  }
}

.modal-items-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
}

.information h2 {
  color: var(--primary);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}

.information h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.25rem;

}

.image {
  display: flex;
  width: 13rem;
  position: relative;
  aspect-ratio: 9 / 16;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}

.modal-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.information a {
  color: var(--accent);
  text-wrap-style: balance;
}

.information a:hover {
  text-decoration: underline;
}

.beskrivning {
  margin-top: 1rem;
}

@media (min-width: 1600px) {
    .modal-items-container {
      column-gap: 1rem;
    }
}