.feed-container {
    width: 70%;
    height: fit-content;

    position: relative;
    justify-content: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    padding: 2rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-clip: padding-box;
    box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);

    background-color: var(--component-background);
}

@media (min-width: 1600px) {
    .feed-container {
        width: 50%;
        
    }
}