.item {
    position: relative;
    /* height: 25rem; */
    width: 100%;
    aspect-ratio: 9 / 16;

    border-radius: var(--border-radius);
    overflow: hidden;

    box-shadow: 0 0 0 transparent transparent;

    transition: transform 0.1s ease-in-out;
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: linear-gradient(
        to top,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.5) 27%,
        rgba(0, 0, 0, 0.055) 35% 
    );

}

.item:hover {
    cursor: pointer;
    transform: scale(1.01);
    
    box-shadow: 0 4px 20px color-mix(in srgb, var(--border) 60%, transparent);

    transition: transform 0.2s ease-in-out;
}

/* IMAGE */
.feed-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text */
.text-container {
    z-index: 10;
    position: absolute;

    bottom: 1rem;
    left: 1rem;

    color: var(--text);
}

.text-event {
    font-size: 1.8rem;
    font-weight: 800;
    text-wrap: wrap;
}

.text-host {
    font-size: 1.4rem;
    font-weight: 600;
}

/* DATE */

.date {
    z-index: 10;

    top: 1rem;
    right: 1rem;
    position: absolute;

    background-color: var(--text);
    color: var(--background);


    text-align: center;
    padding: 0.2rem 0.6rem;
    border-radius: 0.6rem;
    aspect-ratio: 1 / 1;
}

.date-day {
    font-size: 1.2rem;
    font-weight: 700;
}

.date-month {
    font-size: 1rem;
    font-weight: 600;
}

