.page {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  /* align-items: center; */
  justify-items: center;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}
