.filter-container {
  width: 60%;

  position: relative;
  justify-self: center;
  /* align-self: start; */

  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 0rem;

  padding: 1rem;
  border-radius: 10px;

  background-color: var(--component-background);
  border: 1px solid var(--border);

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-clip: padding-box;
  box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);

  transition: gap 0.3s ease;
}

.changeGap {
  gap: 1.5rem;
}

.filters {
  display: grid;

  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  grid-template-rows: 0fr;
  opacity: 0.1;
  transition:
    grid-template-rows 0.3s ease,
    opacity 0.4s ease;

  > div {
    overflow: hidden;
  }
}

.filtersInner {
  overflow: hidden;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.filters.show {
  opacity: 1;
  grid-template-rows: 1fr;

  > div {
    overflow: visible;
  }
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.filter-dropdown {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 0.5rem 2.2rem 0.5rem 1rem;
  border-radius: 6px;

  z-index: 1000;

  background-color: color-mix(in srgb, var(--nav-background) 50%, transparent);
  border: 1px solid var(--border);

  color: var(--text);
  font-size: 1rem;
  font-family: inherit;

  cursor: pointer;
  transition: all 0.1s ease-out;
}

.dropdown-icon {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text);
  font-size: 0.875rem;
}

/* Submit button */

.submit-filter {
  all: unset;

  justify-self: end;
  align-self: end;
  grid-column: 5;

  background-color: var(--primary);
  color: var(--background);

  font-weight: 600;
  text-align: center;

  padding: 0.6rem 1.3rem;
  border-radius: 6px;
  border: 2px solid transparent;

  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 10px color-mix(in srgb, var(--primary) 50%, transparent);
}

.submit-filter:hover,
.submit-filter:focus-visible {
  transform: translateY(-2px);
  box-shadow:
    0 -5px 15px color-mix(in srgb, var(--primary) 60%, transparent),
    0 0 25px color-mix(in srgb, var(--primary) 30%, transparent);
  background-color: color-mix(in srgb, var(--primary) 90%, white 10%);
}

.submit-filter:active {
  transform: translateY(1px);
  opacity: 0.9;
}

/* Hide functionality things */

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 0.9rem;

  z-index: 10;

  color: color-mix(in srgb, var(--text) 70%, transparent);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.2rem;

  font-size: 1.5rem;
  aspect-ratio: 1 / 1;

  transition:
    border 0.3s ease,
    color 0.2s ease;
}

.closeButton:hover {
  color: var(--primary);
  border: 1px solid var(--border);
  cursor: pointer;
}

.closeButton .toggle-icon {
  transition: transform 0.3s ease;
}

.closeButton:hover .toggle-icon {
  transform: rotate(0deg);
}

.toggle-icon {
  filter: drop-shadow(0 0 5px color-mix(in srgb, var(--text) 50%, transparent));
  transform: rotate(-90deg);
}

.toggle-icon:hover {
  filter: drop-shadow(
    0 0 5px color-mix(in srgb, var(--primary) 100%, transparent)
  );
}

.open {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.filter-container .open:hover {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .filter-container {
    width: 70%;
  }

  .filtersInner {
    grid-template-columns: 1fr;
  }

  .closeButton {
    top: 0.7rem;
  }
}

@media (max-width: 468px) {
  .filter-container {
    width: 80%;
  }
}
