.filter-container {
    width: 60%;

    position: relative;
    justify-self: center;

    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1rem;
    border-radius: 10px;

    background-color: var(--component-background);
    border: 1px solid var(--border);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-clip: padding-box;
    box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);
}

.filters {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.filter-dropdown {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 0.5rem 2.2rem 0.5rem 1rem;
  border-radius: 6px;

  z-index: 1000;

  background-color: color-mix(in srgb, var(--nav-background) 50%, transparent);
  border: 1px solid var(--border);

  color: var(--text);
  font-size: 1rem;
  font-family: inherit;

  cursor: pointer;
  transition: all 0.1s ease-out;
}

.dropdown-icon {
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text);
    font-size: 0.875rem;
}

/* Submit button */

.submit-filter {
  all: unset;

  justify-self: end;
  align-self: end;
  grid-column: 5;

  background-color: var(--primary);
  color: var(--background);

  font-weight: 600;
  text-align: center;

  padding: 0.6rem 1.3rem;
  border-radius: 6px;
  border: 2px solid transparent;

  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 10px color-mix(in srgb, var(--primary) 50%, transparent);
}

.submit-filter:hover,
.submit-filter:focus-visible {
  transform: translateY(-2px);
  box-shadow:
    0 -5px 15px color-mix(in srgb, var(--primary) 60%, transparent),
    0 0 25px color-mix(in srgb, var(--primary) 30%, transparent);
  background-color: color-mix(in srgb, var(--primary) 90%, white 10%);
}

.submit-filter:active {
  transform: translateY(1px);
  opacity: 0.9;
}
