.filter-container {
    width: 60%;

    position: relative;
    justify-self: center;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1rem;
    border-radius: 10px;

    background-color: color-mix(in srgb, var(--nav-background) 60%, transparent);
    border: 1px solid var(--border);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-clip: padding-box;
    box-shadow: 0 1px 10px color-mix(in srgb, var(--border) 60%, transparent);
}

.filters {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-dropdown {
    /* Remove all: unset to keep native select styling */
    appearance: none; /* Custom arrow */
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 0.5rem 1rem;
    border-radius: 6px;

    background-color: color-mix(in srgb, var(--nav-background) 50%, transparent);
    border: 1px solid var(--border);
    /* Add custom arrow */
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23999%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.4-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    padding-right: 2.5rem;

    color: var(--text);
    font-size: 1rem;
    font-family: inherit;

    cursor: pointer;
    transition: all 0.1s ease-out;
}

.submit-filter {
    all: unset;

    position: relative;
    justify-self: center;
    align-self: end;

    background-color: var(--primary);
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 4px;

    color: var(--background);
    font-weight: 600;
    border: 2px solid transparent;

    cursor: pointer;

    transition: all 0.05s ease-out;
}